@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  font-family: "Roboto", sans-serif;
}

.Container {
  display: grid;
  grid-template-columns: 5fr 0.1fr;
}
.NavigationContainer {
  display: flex;
  justify-content: center
}

.NavigationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 80%;
}

.NavigationLogo {
  width: 80px;
  padding-left: 10px;
}

.NavigationText {
  display: flex; 
  cursor: pointer;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80px;
  margin-right: 50px;
  cursor: pointer;
}

.NavigationUser {
  cursor: pointer;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: black;
}
