@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  font-family: "Roboto", sans-serif;
  background-color: rgb(241, 241, 241);
}

.HomeSection {
  display: flex;
  flex-wrap: wrap;
}

.HomeLeftColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.HomeRightColumn {
  display: grid;
  width: 50%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

}

.HomeRightColumn img:nth-child(1) {
  grid-column: 1;
  grid-row: 1 / 2;
  padding-top: 100px;
}

.HomeRightColumn img:nth-child(2) {
  grid-column: 2;
  padding-top: 50px;
  padding-right: 20px;
}

.HomeRightColumn img:nth-child(3) {
  grid-column: 2;
  padding-top: 0px;
}

.HomeRightColumn img:nth-child(4) {
  grid-column: 3;
  grid-row: 1 / 2;
  padding-top: 100px;
}

.HomeImage {
  height: 400px;
  border-radius: 30px;
}

.HomeTextSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.HomeHeader {
  font-size: 4em;
  font-weight: 700;
  width: 50%;
  margin-bottom: 10px;
}

.HomeText {
  width: 50%;
  font-size: 1.25em;
  margin-top: 0px;
  color: rgb(0,0,0, 70%);
}

.ShopBtnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ShopBtn {
  padding: 10px 50px;
  border-radius: 10px;
  border: 0.5px solid rgba(0, 0, 0, 0.5); 
  background-color: #1D3557;
  color: white;
  font-size: 1.25em;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  margin-bottom: 50px;
  width: 100%;
}

.ShopBtn:hover {
  background-color: #457B9D;
  transform: translateY(1px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.ShopBtn:active {
  background-color: #1A2D47;
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.HeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
  position: relative;

}

.LogoContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.Logo {
  display: flex;
  justify-content: center;
}

.Footer {
  display: flex;
  justify-content: center;
  background-color: white;
  border-top: 1px rgb(0,0,0, 30%) solid;
  padding: 20px;
  bottom: 0;
  left: 0;
  width: 100%;

  
}

.SocialContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Socials {
  margin-top: 5px;
}

.SocialIcon {
  border: 0.1px black solid;
  border-radius: 40%;
  margin: 0 5px;
  padding: 5px;
  width: 20px;
}

.SocialIcon:hover {
  background-color: #f1faee;
}

.StoreTitle {
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 1.25em;
  transform: translateX(35%);
}

.NavigationBar {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.NavigationContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  width: 100%;
  background-color: #1d3557;
}

.NavigationLogo {
  width: 80px;
}

.NavigationText {
  display: flex; 
  cursor: pointer;
}

.NavItem {
  color: white;
  display: inline-block;
}

.NavItem:hover {
  border-bottom: 2px solid white;
  transform: scale(1.1);
}

.NavItem.active {
  border-bottom: 2px solid #e63946;
  transform: scale(1.1);
}

.IconContainer {
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
}

.SearchIcon {
  cursor: pointer;
  margin-right: 20px;
}

.NavigationUser {
  cursor: pointer;
  margin-right: 20px;
}

.PromoContainer {
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: #457B9D;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

.NoStockContainer {
  display: flex;
  justify-content: center;
  padding: 50px;
  height: 50vh;
}

.NoStock {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px;
  margin: 10px; 
  width: 500px;  
  height: 50px;
}

.Loading {
  display: flex;
  justify-content: center;
}

.GalleryCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 50px;
  height: 100vh;
  overflow: auto;
}


.GalleryCard {
  display: grid;
  grid-template-rows: 200px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px;
  margin: 10px; 
  width: 300px;  
  height: 300px;
}

.GalleryCard > p {
  display: flex;
  justify-content: center;
}

.GalleryCard > img {
  margin: auto;
  display: block;
  width: 100px;
  height: auto;
}

.GalleryCard:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}


.GalleryCardTitle {
  text-align: center;
  margin-bottom: 0;
  font-weight: 500;
}


.ItemCard {
  display: grid;
  grid-template-columns: 500px 350px;
  justify-content: center;
  margin-top: 100px;
  
}

.ItemCard > img {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 450px;
  object-fit: contain;
  border: 0.5px rgb(0,0,0, 25%) solid;
  padding: 50px;
  border-radius: 20px;
  margin-bottom: 50px;

}

.ItemTitle {
  font-size: 1.25rem;
  font-weight: 500;
}

.ItemDescription {
  font-size: 1rem;
}

.ItemPrice {
  font-size: 1rem;
}

.Quantity {
  display: flex;
  align-items: center;
}

.Quantity > label {
  font-weight: 500;
  margin-right: 10px;
}

.Quantity > input {
  width: 40px;
  text-align: center;

}

.Quantity > img {
  height: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.AddToCartSection {
  margin-top: 10px;
}

.AddToCart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 200px;
  border-radius: 10px;
  background-color: #a9d6e5;
  border-color: #a9d6e5;
}

.AddToCart > img {
  padding-right: 10px;
  width: 20px;
}

.Cart {
  display: flex;
  flex-direction: row;
}

.ShoppingIcon {
  margin-right: 5px;
}

.CartPageHeader {
  display: flex;
  justify-content: center;
  font-weight: 600;
  padding-top: 20px;
  font-size: 25px;
}

.CartHeaders {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  font-weight: 500;
}

.ProductHeader {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.ShoppingCartGrid {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
}

.LeftColumn {
  display: flex;
  margin-bottom: 50px;
  margin-left: 50px;
  flex-direction: row;
}

.LeftColumn img {
  height: 100px;
  width: 150px;
  object-fit: contain;
  padding-right: 10px;
  background-color: white;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-right: 50px;
}

.EmptyCart {
  display: flex;
  justify-content: center;
}